.movie-card 
{
    border: 1px solid black
}

.movie-card  img 
{
    max-height: 350px;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .movie-card img {
        max-height: 180px;
    }
}