.movie-list 
{
    margin-top: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3.5rem;
    color: aliceblue;
}

.loadBtn 
{
    align-self: center;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

@media screen and (max-width: 600px) {
    .movie-list 
    {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}